In [76]:
import pandas as pd
import os

**Load Datasets**

In [77]:
parquet_directory = '/Users/fionachow/Documents/NYU/CDS/Fall 2024/DS - GA 1018 Probabilistic Time Series/Project/electricity_demand_forecasting/data/'

parquet_files = [f for f in os.listdir(parquet_directory) if f.endswith('.parquet')]

dfs = {}

for file in parquet_files:
    file_path = os.path.join(parquet_directory, file)
    dfs[file] = pd.read_parquet(file_path)

In [78]:
dfs.keys()

dict_keys(['weather.parquet', 'demand.parquet', 'metadata.parquet'])

**Explore Metadata Dataset**

In [79]:
display(dfs['metadata.parquet'].head())

,unique_id,dataset,building_id,location_id,latitude,longitude,location,timezone,building_class,cluster_size,freq
0,a4077c2f0ac5f939,London Smart Meter Data,MAC000002,gcpvj4cmfb0f,51.52,-0.13,"London, UK",Europe/London,Residential,1,30T
1,c413415b78b2cd28,London Smart Meter Data,MAC000003,gcpvj4cmfb0f,51.52,-0.13,"London, UK",Europe/London,Residential,1,30T
2,4ef97f530574813a,London Smart Meter Data,MAC000004,gcpvj4cmfb0f,51.52,-0.13,"London, UK",Europe/London,Residential,1,30T
3,0c9e78f7ca4842c2,London Smart Meter Data,MAC000005,gcpvj4cmfb0f,51.52,-0.13,"London, UK",Europe/London,Residential,1,30T
4,e881429cbec2cf4d,London Smart Meter Data,MAC000006,gcpvj4cmfb0f,51.52,-0.13,"London, UK",Europe/London,Residential,1,30T

In [89]:
dfs['metadata.parquet'].dtypes

unique_id         category
dataset           category
building_id       category
location_id       category
latitude           float64
longitude          float64
location          category
timezone          category
building_class    category
cluster_size         int64
freq              category
dtype: object

In [80]:
df_metadata = dfs['metadata.parquet'][['dataset', 'freq', 'building_class','location']]

table_metadata = df_metadata.groupby('dataset')[['freq', 'building_class']].agg(lambda x: ', '.join(set(x)))

table_metadata

                          freq building_class
dataset
Building Data Genome 2      1H     Commercial
Electricity Load Diagrams  15T    Residential
London Smart Meter Data    30T    Residential

In [98]:
df_filtered = dfs['metadata.parquet'][dfs['metadata.parquet']['dataset'] == 'London Smart Meter Data']

unique_locations = df_filtered['location'].astype(str).unique()

display(unique_locations)

array(['London, UK'], dtype=object)

In [99]:
df_filtered2 = dfs['metadata.parquet'][dfs['metadata.parquet']['dataset'] == 'Electricity Load Diagrams']

unique_locations2 = df_filtered2['location'].astype(str).unique()

display(unique_locations2)

array(['PT'], dtype=object)

In [100]:
df_filtered3 = dfs['metadata.parquet'][dfs['metadata.parquet']['dataset'] == 'Building Data Genome 2']

unique_locations3 = df_filtered3['location'].astype(str).unique()

display(unique_locations3)

array(['Orlando, Florida, USA', 'London, UK', 'Phoenix, Arizona, USA',
       'Washington DC, USA', 'Oakland, California, USA', 'Cardiff, UK',
       'Princeton, New Jersey, USA', 'Ottawa, CA', 'nan',
       'Austin, Texas, USA', 'Groningen, NL',
       'Minneapolis, Minnesota, USA', 'Ithaca, New York, USA'],
      dtype=object)

In [109]:
print(f'London Smart Meter counts: {df_filtered.shape[0]}, Electricity Load Diagrams counts: {df_filtered2.shape[0]}, Building Data Genome 2 counts: {df_filtered3.shape[0]}')

London Smart Meter counts: 5566, Electricity Load Diagrams counts: 370, Building Data Genome 2 counts: 1636

**Explore Demand Dataset**

In [94]:
 display(dfs['demand.parquet'].head())

          unique_id           timestamp    y
0  a4077c2f0ac5f939 2012-10-12 00:30:00  0.0
1  a4077c2f0ac5f939 2012-10-12 01:00:00  0.0
2  a4077c2f0ac5f939 2012-10-12 01:30:00  0.0
3  a4077c2f0ac5f939 2012-10-12 02:00:00  0.0
4  a4077c2f0ac5f939 2012-10-12 02:30:00  0.0

In [90]:
dfs['demand.parquet'].dtypes

unique_id          category
timestamp    datetime64[ns]
y                   float64
dtype: object

In [103]:
start_date = dfs['demand.parquet']['timestamp'].min()
end_date = dfs['demand.parquet']['timestamp'].max()

print(f'start date: {start_date}, end date: {end_date}')

start date: 2011-01-01 00:30:00, end date: 2017-12-31 23:00:00

In [92]:
print("Missing values in each column:\n", dfs['demand.parquet'].isnull().sum()) #some null values in y column

Missing values in each column:
 unique_id          0
timestamp          0
y            3086278
dtype: int64

**Explore Weather Dataset**

In [ ]:
 display(dfs['weather.parquet'].head())

,timestamp,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,rain,snowfall,snow_depth,weather_code,...,soil_moisture_0_to_7cm,soil_moisture_7_to_28cm,is_day,sunshine_duration,shortwave_radiation,direct_radiation,diffuse_radiation,direct_normal_irradiance,terrestrial_radiation,location_id
0,2011-01-01 00:00:00,4.1265,97.229843,3.7265,1.484439,0.0,0.0,0.0,0.0,3.0,...,0.393,0.393,0.0,0.0,0.0,0.0,0.0,0.0,0.0,gcpvj4cmfb0f
1,2011-01-01 01:00:00,4.1765,95.872025,3.5765,1.345968,0.0,0.0,0.0,0.0,3.0,...,0.393,0.393,0.0,0.0,0.0,0.0,0.0,0.0,0.0,gcpvj4cmfb0f
2,2011-01-01 02:00:00,3.9265,94.853752,3.1765,0.957560,0.0,0.0,0.0,0.0,3.0,...,0.393,0.393,0.0,0.0,0.0,0.0,0.0,0.0,0.0,gcpvj4cmfb0f
3,2011-01-01 03:00:00,3.6765,94.174149,2.8265,0.634312,0.0,0.0,0.0,0.0,3.0,...,0.393,0.393,0.0,0.0,0.0,0.0,0.0,0.0,0.0,gcpvj4cmfb0f
4,2011-01-01 04:00:00,3.3765,93.826447,2.4765,0.180433,0.0,0.0,0.0,0.0,3.0,...,0.392,0.392,0.0,0.0,0.0,0.0,0.0,0.0,0.0,gcpvj4cmfb0f

In [91]:
dfs['weather.parquet'].dtypes

timestamp                     datetime64[ns]
temperature_2m                       float32
relative_humidity_2m                 float32
dew_point_2m                         float32
apparent_temperature                 float32
precipitation                        float32
rain                                 float32
snowfall                             float32
snow_depth                           float32
weather_code                         float32
pressure_msl                         float32
surface_pressure                     float32
cloud_cover                          float32
cloud_cover_low                      float32
cloud_cover_mid                      float32
cloud_cover_high                     float32
et0_fao_evapotranspiration           float32
vapour_pressure_deficit              float32
wind_speed_10m                       float32
wind_direction_10m                   float32
wind_gusts_10m                       float32
soil_temperature_0_to_7cm            float32
soil_temperature_7_to_28cm           float32
soil_moisture_0_to_7cm               float32
soil_moisture_7_to_28cm              float32
is_day                               float32
sunshine_duration                    float32
shortwave_radiation                  float32
direct_radiation                     float32
diffuse_radiation                    float32
direct_normal_irradiance             float32
terrestrial_radiation                float32
location_id                           object
dtype: object

In [105]:
start_date = dfs['weather.parquet']['timestamp'].min()
end_date = dfs['weather.parquet']['timestamp'].max()

print(f'start date: {start_date}, end date: {end_date}')

start date: 2011-01-01 00:00:00, end date: 2019-01-01 06:00:00